---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import "../themes/prism-atom-dark.css";
import type { CollectionEntry } from 'astro:content';
type Props = CollectionEntry<'blog'>['data'];
const { content } = Astro.props;
const parsedPublishedDate = new Date(content.publishedDate);

const formattedDate = parsedPublishedDate.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <title>{content.title}</title>
    <base href="/" />

    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font preloads -->
    <link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{content.title}</title>
    <meta name="title" content={content.title} />
    <meta name="description" content={content.description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={content.title} />
    <meta property="og:description" content={content.description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={content.title} />
    <meta property="twitter:description" content={content.description} />

    <meta
      name="keywords"
      content={content.description}
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3714960712557505"
     crossorigin="anonymous"></script>
  </head>

  <body>
    <main>
      <Header />

      <div class="flex flex-grow justify-center min-h-screen">
        <article class="w-screen max-w-4xl p-8">
          <h2 class="text-gray-600 text-2xl">{content.title}</h2>

          <span class="font-light text-sm">
            {formattedDate}
          </span>

          <slot/>
        </article>  
      </div>
      
      <Footer />
    </main>
  </body>
</html>